.calculator{
    &__wrapper{
        width: 630px;
        height: 910px;
        position: relative;
        background-image: linear-gradient(0deg, #939393 0%, #f4f4f4 15%, #cecece 28%, #f4f4f4 45%, #ededed 71%, #e4e4e4 88%, #ffffff 94%, #ededed 100%);
        border-radius: 75px;
        background-color: #ffffff;
        box-shadow: inset 0px 0px 10px 1px #707070;
        &::before{
            content: "";
            position: absolute;
            left: 26px;
            top: 16px;
            width: 580px;
            height: 865px;
            border-radius: 75px;
            background-image: linear-gradient(27deg, #f9f9f9 0%, #ededed 11%, #cbcbcb 22%, #f9f9f9 44%, #cbcbcb 73%, #e4e4e4 85%, #f9f9f9 96%, #ededed 100%);
            background-color: #ffffff;
        }
        
    }
    &__screen{
        position: absolute;
        margin: 0 auto;
        width: 503px;
        height: 164px;
        top: 108px;
        right: 64px;
        border-radius: 24px;
        background-image: linear-gradient(0deg, #000000 0%, #777777 100%);
        border: 6px solid ;  
        border-color: #fefefe;
        z-index: 2; 
        &::before{
            position: absolute;
            left: 26px;
            top: 16px;
            width: 503px;
            height: 165px;
            border-radius: 25px;
            box-shadow: inset 0px 0px 0px 1px #707070;
            background-color: #ffffff;
        }
        &__main{
            position: relative;
            margin-top: 10px;
            margin-left: 10px;
            width: 470px;
            height: 134px;
            background-color: #cee2b1;
            border: 3px solid #edffd2;
            font-family: 'DS-Digital';
            font-size: 137px;
            &__example{
                opacity: 0.1;
                position: absolute;
                &--dots{
                    left: 58px;
                    opacity: 0.2;
                    position: absolute;
                    letter-spacing: 45px;
                }
            }
            &__numbers{
                display: flex; 
            }  
            &__number{
                    position: relative;
                    &--1{
                        position: absolute;
                        top: 0px;
                        right: 47px;
                    }
                    &--2{
                        position: absolute;
                        top: 0px;
                        right: 117px;
                    }
                    &--3{
                        position: absolute;
                        top: 0px;
                        right: 187px;
                    }
                    &--4{
                        position: absolute;
                        top: 0px;
                        right: 257px;
                    }
                    &--5{
                        position: absolute;
                        top: 0px;
                        right: 327px;
                    }
                    &--6{
                        position: absolute;
                        top: 0px;
                        right: 397px;
                    }
                } 
            &__dots{
                display: flex;
                
            }
            &__dot{
                position: relative;
                &--1{
                    position: absolute;
                    right: 33px;
                }
                &--2{
                    position: absolute;
                    right: 102px;
                }
                &--3{
                    position: absolute;
                    right: 172px;
                }
                &--4{
                    position: absolute;
                    right: 242px;
                }
                &--5{
                    position: absolute;
                    right: 312px;
                }
                &--6{
                    position: absolute;
                    right: 382px;
                }
            }
            &__text{
                margin-top: -4px;
                margin-left: 12px;
                letter-spacing: 1px;
                opacity: 2;
                &--dots{
                    position: absolute;
                    top: 0;
                    left: 0;
                    letter-spacing: 45px;
                    
                }
            }
        }
    }
    &__buttons{
        display: flex;
        width: 500px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-top: 333px;
        &__button{
            width: 108px;
            height: 86px;
            margin-bottom: 24px;
            border-radius: 20px;
            filter: drop-shadow(1px 1.732px 0px rgba(0,0,0,0.75));
            background-image: linear-gradient(0deg, #444444 0%, #636365 100%);
            font-size: 50px;
            line-height: 33px;
            color: #ffffff;
            font-weight: bold;
            font-family: "Arial";
        }
    }
}